html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
}

.content {
	width: 100%;
	height: 100%;
}

.button {
	background-color: #FFAA00;
	cursor: pointer;
	display: inline-block;
}