/*
 * Brown: #673900
 * Dark blue: #002E66
 * Light blue: #0049A3
 */
* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #673900;
	color: #000;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1024px;
	margin: auto;
	padding: 0 10px;
	padding-top: 10px;
}

.navbar {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.navbar .logo {
	height: 65px;
	width: 40px;
}

.navbar .button-wrapper {
	margin-left: 40px;
}

.navbar .title {
	vertical-align: top;
	display: inline-block;
	color: white;
	font-size: 26px;
	font-weight: bold;
	margin-left: 5px;
}

.navbar .title div:last-child {
	margin-left: 40px;
}

.button {
	background-color: #0049A3;
	cursor: pointer;
	display: inline-block;
	color: white;
	padding: 10px 20px;
}
.button.dark {
	background-color: #002E66;
}

.deals {
	font-size: 0;
}

.tile {
	display: inline-block;
	width: 50%;
	padding-top: 10px;
	font-size: 16px;
}

.tile:nth-child(2n) {
	padding-left: 5px;
}

.tile:nth-child(2n -1) {
	padding-right: 5px;
}

.tile:nth-child(1),
.tile:nth-child(2) {
	padding-top: 0;
}

.deal {
	display: flex;
	background-color: white;
	padding: 10px;
}

.deal .info {
	display: inline-flex;
	flex-flow: column;
	flex-grow: 1;
}
.deal .info .store {
	font-size: 22px;
	font-weight: bold;
}

.deal .actions {
	display: inline-flex;
	flex-flow: column;
}

.deal .actions .action {
	margin-top: 5px;
}
.deal .actions .action:first-child {
	margin-top: 0;
}

.deal[max-width="350px"] {
	flex-flow: column;
}

.deal[max-width="350px"] .actions {
	flex-flow: row;
	justify-content: space-around;
	margin-top: 10px;
}

.deal[max-width="350px"] .actions .action {
	margin-top: 0;
}

@media (max-width: 515px) {
	.navbar {
		justify-content: center;
	}

	.navbar .button-wrapper {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
		z-index: 1;
	}

	.navbar .button-wrapper .button {
		display: block;
		text-align: center;
	}

	.tile {
		width: 100%;
	}

	.tile:nth-child(2n) {
		padding-left: 0;
	}

	.tile:nth-child(2n -1) {
		padding-right: 0;
	}

	.tile:nth-child(2) {
		padding-top: 10px;
	}
}
