This is a template for home.
<a class="button" href="/test">
	Click to test
</a>
<ul>
	<li>
		<a class="button" href="var/1">
			1
		</a>
	</li>
	<li>
		<a class="button" href="var/4">
			4
		</a>
	</li>
	<li>
		<a class="button" href="var/87">
			87
		</a>
	</li>
</ul>
<ul>
	{{#users}}
		<li>
			{{id}} : {{name}}
		</li>
	{{/users}}
</ul>
