<div class="deals">
	{{#deals}}
		<div class="tile">
			<div class="deal">
				<div class="info">
					<div class="store">
						{{store.name}}
					</div>
					<div class="date">
						{{human_date}}
					</div>
				</div>
				<div class="actions">
					<div class="action">
						<div class="button">
							I saw this!
						</div>
					</div>
					<div class="action">
						<div class="button dark">
							It's over :(
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/deals}}
</div>
